*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Inter;
    
}
h1{
    font-size:72px;
    font-weight:700;

}
h2{
    font-size:56px; 
    font-weight:600; 
    margin-bottom:24px;
    
}
h3{
    font-size:48px; 
    font-weight:600;
    line-height:48px;
    color:white 
}
h5{
    font-size:20px; 
    font-weight:600;
    color:#7E8492; 
}
h4{
    font-size:32px; 
    font-weight:600;
    line-height: 32px; 
}

h6{
    color:#7E8492; 
    font-size:18px; 
    font-weight:500; 
    line-height:32px
}

p{
    font-size:16px;
    color:#7E8492; 
    font-weight:500; 
    line-height:26px;
    padding-top:24px

}

header{
    background-image:url(../pics/ellipse_orange.png), url(../pics/Ellipse_blue.png); 
    background-position: 0% 0%, 100% 100%; 
    background-repeat: no-repeat, no-repeat;
    padding-bottom:100px
}
.hamburger-menu{
  display:none
}

header>div:nth-last-child(3){
  padding-left:120px;
  
  
}
header nav{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right:120px;
    padding-left:120px
    
}



header nav div:first-child{
    padding-top:35.5px

}
header nav div:nth-child(2){
    padding-top:45px;
    margin-left:610px
}
header nav div:nth-child(2) a{
    color:black;
    font-size:16px;
    font-weight: 500;
    text-decoration: none;
    padding-right:20px
    
}

header nav div:nth-child(3){
    padding-top:40px
}
header nav div:nth-child(3) a{
    color:black;
}

header>div:nth-child(2){
    margin-top:100px;
    padding-left:120px;
    padding-right:120px;
}

header>div:nth-child(3){
    margin-top:150px;
    padding-left:120px;
    padding-right:120px;
    display:flex;
}

header>div:nth-child(3) img[src*="69"]{
    padding-right:40px;
    margin-top:-70px
}




.activities_list{
    margin-top:200px;
    padding-left:123px;
    padding-right:500px;
    display:flex;
    justify-content: space-between;
}

.activities_list a:first-child {
    text-decoration-color: black;
    
}

.activities_list a:first-child p:first-child{
    color:black
}
.activities_list a:nth-child(n+2){
    
    text-decoration: none;
}








@keyframes tonext {
    75% {
      left: 0;
    }
    95% {
      left: 100%;
    }
    98% {
      left: 100%;
    }
    99% {
      left: 0;
    }
  }
  
  @keyframes tostart {
    75% {
      left: 0;
    }
    95% {
      left: -300%;
    }
    98% {
      left: -300%;
    }
    99% {
      left: 0;
    }
  }
  
  @keyframes snap {
    96% {
      scroll-snap-align: center;
    }
    97% {
      scroll-snap-align: none;
    }
    99% {
      scroll-snap-align: none;
    }
    100% {
      scroll-snap-align: center;
    }
  }
  
   .carousel_self{
    padding-left:100px;
    padding-right:100px;
    margin-top:100px;
    height:800px
    
    
    
   }
  
  * {
    box-sizing: border-box;
    scrollbar-color: transparent transparent; /* thumb and track color */
    scrollbar-width: 0px;
  }
  
  *::-webkit-scrollbar {
    width: 0;
  }
  
  *::-webkit-scrollbar-track {
    background: transparent;
  }
  
  *::-webkit-scrollbar-thumb {
    background: transparent;
    border: none;
  }
  
  * {
    -ms-overflow-style: none;
  }
  
  ol, li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .carousel {
    position: relative;
    padding-top: 75%;
    filter: drop-shadow(0 0 10px #7E8492);
    perspective: 100px;
  }
  
  .carousel__viewport {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    overflow-x: scroll;
    counter-reset: item;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    height:500px
  }
  
  .carousel__slide {
    position: relative;
    flex: 0 0 100%;
    width: 100%;
    background-color:whitesmoke;
    
    counter-increment: item;
  }
  
  
  .carousel__slide:before {
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-40%,70px);
    color: #fff;
    font-size: 2em;
  }
  
  .carousel__snapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    scroll-snap-align: center;
  }
  
  @media (hover: hover) {
    .carousel__snapper {
      animation-name: tonext, snap;
      animation-timing-function: ease;
      animation-duration: 4s;
      animation-iteration-count: infinite;
    }
  
    .carousel__slide:last-child .carousel__snapper {
      animation-name: tostart, snap;
    }
  }
  
  @media (prefers-reduced-motion: reduce) {
    .carousel__snapper {
      animation-name: none;
    }
  }
  
  .carousel:hover .carousel__snapper,
  .carousel:focus-within .carousel__snapper {
    animation-name: none;
  }
  
  .carousel__navigation {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
  }
  
  .carousel__navigation-list,
  .carousel__navigation-item {
    display: inline-block;
  }
  
  .carousel__navigation-button {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-color: #333;
    background-clip: content-box;
    border: 0.25rem solid transparent;
    border-radius: 1%;
    font-size: 0;
    transition: transform 0.1s;
  }
  
  .carousel::before,
  .carousel::after,
  .carousel__prev,
  .carousel__next {
    position: absolute;
    top: 0;
    margin-top: 20.5%;
    width: 4rem;
    height: 4rem;
    transform: translateY(-50%);
    border-radius: 50%;
    font-size: 0;
    outline: 0;
  }
  
  .carousel::before,
  .carousel__prev {
    left: 59rem;
    top:9rem
  }
  
  .carousel::after,
  .carousel__next {
    right: 5rem;
    top:9rem
  }
  
  .carousel::before,
  .carousel::after {
    content: '';
    z-index: 1;
    background-color: #7E8492;
    background-size: 1.5rem 1.5rem;
    background-repeat: no-repeat;
    background-position: center center;
    color: #fff;
    font-size: 2.5rem;
    line-height: 4rem;
    text-align: center;
    pointer-events: none;
  }
  
  .carousel::before {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23fff'/%3E%3C/svg%3E");
  }
  
  .carousel::after {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='%23fff'/%3E%3C/svg%3E");
  }
  
.main_black{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #1D1E25;
    padding-left:120px;
    padding-right:120px;
    padding-top:120px;
    margin-top:-200px;
    padding-bottom: 100px;
}



.main_black div div:nth-child(2){
    padding-top:100px;
    
}

  
.main_black div:nth-child(2) div:nth-child(2){
    padding-top:147px
}

.articles{
    padding-left:120px;
    padding-top:100px;
    padding-bottom:100px
    
}
.articles>div{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    
}
.articles div{
    margin-top:20px
}

.articles div div:first-child div:nth-child(2){
    margin-top:20px
}

.articles div div:first-child div:nth-child(3){
    margin-top:20px
}

.articles div div:nth-child(2) div:nth-child(2){
    margin-top:20px
}

.articles div div:nth-child(2) div:nth-child(3){
    margin-top:20px
}

.articles div div:nth-child(3) div:nth-child(2){
    margin-top:20px
}

.articles div div:nth-child(3) div:nth-child(3){
    margin-top:20px
}

.footer{
    background-image:url(../pics/ellipse_orange.png), url(../pics/Ellipse_blue.png); 
    background-position: 0% 0%, 100% 100%; 
    background-repeat: no-repeat, no-repeat;
    padding-bottom:100px;
    padding-top:100px;
    padding-left:120px;
    padding-right:120px

}


.footer div:nth-child(2){
    display:flex;
    flex-direction:row;
    padding-bottom:30px
}

.footer div:nth-child(2) div:first-child img[src*="Line69"]{
    margin-top:-15px;
    padding-right:15px
}

.footer div:nth-child(2) div:nth-child(2) h4{
    font-size:24px
}

.footer>div:first-child div:nth-child(2){
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer >div:nth-child(2){
    padding-top:80px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.footer div:nth-child(2)>div:nth-child(2) div{
    padding-right:70px
}

.footer div:nth-child(2)>div:nth-child(2) div:first-child p:first-child{
    color:black
}

.footer div:nth-child(2)>div:nth-child(2) div:first-child p:nth-child(n+2){
   padding-top:0px
}

.footer div:nth-child(2)>div:nth-child(2) div:nth-child(2) {
    display:flex;
    flex-direction:column;
}  

.footer div:nth-child(2)>div:nth-child(2) div:nth-child(2) p:first-child{
    color:black
}

.footer div:nth-child(2)>div:nth-child(2) div:nth-child(2) p:nth-child(n+2){
    padding-top:0px
}

.footer div:nth-child(2)>div:nth-child(2) div:nth-child(3) p:first-child{
    color:black
}

.footer div:nth-child(2)>div:nth-child(2) div:nth-child(3) p:nth-child(n+2){
    padding-top:0px
}
.footer div:nth-child(2)>div:nth-child(2) div:nth-child(4) p:first-child{
    color:black
}

.footer div:nth-child(2)>div:nth-child(2) div:nth-child(4) p:nth-child(n+2){
    padding-top:0px
}


.footer>div:nth-child(4)>p{
    text-align: center;
    padding-top:40px
}

.btn {
	display: inline-block;	
	box-sizing: border-box;
	padding: 0 25px;
	margin: 0 15px 15px 0;
	outline: none;
	border: 1px solid #fff;
	border-radius: 50px;
	height: 46px;
	line-height: 46px;
	font-size: 14px;
	font-weight: 600;
	text-decoration: none;
	color:#fff;
	background-color: #000;
	box-shadow: 0 4px 6px rgb(65 132 144 / 10%), 0 1px 3px rgb(0 0 0 / 8%);
	cursor: pointer;
	user-select: none;
	appearance: none;
	touch-action: manipulation;  
	vertical-align: top;
	transition: box-shadow 0.2s;
}
.btn:focus-visible {
	border: 1px solid #4c51f9;
	outline: none;
}
.btn:hover {
	transition: all 0.2s;
	box-shadow: 0 7px 14px rgb(65 132 144 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
}
.btn:active {
	background-color: #808080;
}