*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Inter;
    
}
h1{
    font-size:72px;
    font-weight:700;

}
h2{
    font-size:56px; 
    font-weight:600; 
    margin-bottom:24px;
    
}

h4{
    font-size:32px; 
    font-weight:600;
    line-height: 32px; 
}

h6{
    color:#7E8492; 
    font-size:18px; 
    font-weight:500; 
    line-height:32px
}

p{
    font-size:16px;
    color:#7E8492; 
    font-weight:500; 
    line-height:26px;
    padding-top:24px

}


header{
    padding-bottom:0px
}

header nav{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right:120px;
    padding-left:120px
    
}

header nav div:first-child{
    padding-top:35.5px

}
header nav div:nth-child(2){
    padding-top:45px;
    margin-left:610px
}
header nav div:nth-child(2) a{
    color:black;
    font-size:16px;
    font-weight: 500;
    text-decoration: none;
    padding-right:20px
    
}

header nav div:nth-child(3){
    padding-top:45px;
    
}
header nav div:nth-child(3) a{
    color:black;
   
}
header div.header_info{
    padding-right:120px;
    padding-left:120px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top:109px
}
header div.hamburger-menu{
    visibility:hidden
}

.content{
    padding-left:120px;
    padding-right:120px
}
.values{
    padding-left:120px;
    padding-top:135px;
    background-image: url(../svg/Ellipse\ 125.svg);
    background-position: 0% 100%;
    background-repeat: no-repeat;
}

.values>div{
    display:flex;

}

div.values>div div.details{
    padding-left:34px;
    

}
.values div:nth-child(2) h4{
    padding-top:24px;

}

.values div:nth-child(2) h6{
    padding-top: 10px
}

.values div div:nth-child(3) img[src*="Rectangle 38"]{
    padding-left:32px

}

.btn {
	display: inline-block;	
	box-sizing: border-box;
	padding: 0 25px;
	margin: 0 15px 15px 0;
	outline: none;
	border: 1px solid #fff;
	border-radius: 50px;
	height: 46px;
	line-height: 46px;
	font-size: 14px;
	font-weight: 600;
	text-decoration: none;
	color:#fff;
	background-color: #000;
	box-shadow: 0 4px 6px rgb(65 132 144 / 10%), 0 1px 3px rgb(0 0 0 / 8%);
	cursor: pointer;
	user-select: none;
	appearance: none;
	touch-action: manipulation;  
	vertical-align: top;
	transition: box-shadow 0.2s;
}
.btn:focus-visible {
	border: 1px solid #4c51f9;
	outline: none;
}
.btn:hover {
	transition: all 0.2s;
	box-shadow: 0 7px 14px rgb(65 132 144 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
}
.btn:active {
	background-color: #808080;
}

.ideas{
    margin-top:250px;
    display:flex;
    justify-content: space-between;
    padding-right:120px;
    padding-left:-20px
}
.ideas div:nth-child(2) h6{
    font-size: 24px;
    color:black;
    line-height: 36px;
}

.devider{
    padding-left:120px;
    margin-top:85px;
    margin-bottom:160px
}

.divider_media{
    display:none
}

.creators{
    padding-left:120px;
    background-image: url(../svg/Ellipse\ 124.svg);
    background-position: 100% 0%;
    background-repeat: no-repeat;
}

.team_members{
    margin-top:80px;
    display: flex;
    justify-content: space-between;
    padding-right:120px;
    position:relative
}

.team_members div:nth-child(2) div:first-child h4{
    
    padding-top:16px;
    font-size: 24px;
}
.team_members div>div:nth-child(2){
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.team_members div>div:nth-child(3){
    margin-top:8px
}

.join{
    padding-top:105px;
    display:flex;
    justify-content: space-between;
    padding-left:120px;
    padding-right:120px
}

.join div:nth-child(2) div:nth-child(2) p{
    color:black;
    padding-top:0px
}

.footer{
    background-color:#1D1E25;
    color:white;
    padding-bottom:100px;
    padding-top:80px;
    padding-left:120px;
    padding-right:120px;
    margin-top:80px
    

}


.footer div:nth-child(2){
    display:flex;
    flex-direction:row;
    padding-bottom:30px
}

.footer div:nth-child(2) div:first-child img[src*="Line69"]{
    margin-top:-15px;
    padding-right:15px
}

.footer div:nth-child(2) div:nth-child(2) h4{
    font-size:24px
}

.footer>div:first-child div:nth-child(2){
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer >div:nth-child(2){
    padding-top:80px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.footer div:nth-child(2)>div:nth-child(2) div{
    padding-right:70px
}

.footer div:nth-child(2)>div:nth-child(2) div:first-child p:first-child{
    color:white
}

.footer div:nth-child(2)>div:nth-child(2) div:first-child p:nth-child(n+2){
   padding-top:0px
}

.footer div:nth-child(2)>div:nth-child(2) div:nth-child(2) {
    display:flex;
    flex-direction:column;
}  

.footer div:nth-child(2)>div:nth-child(2) div:nth-child(2) p:first-child{
    color:white
}

.footer div:nth-child(2)>div:nth-child(2) div:nth-child(2) p:nth-child(n+2){
    padding-top:0px
}

.footer div:nth-child(2)>div:nth-child(2) div:nth-child(3) p:first-child{
    color:white
}

.footer div:nth-child(2)>div:nth-child(2) div:nth-child(3) p:nth-child(n+2){
    padding-top:0px
}
.footer div:nth-child(2)>div:nth-child(2) div:nth-child(4) p:first-child{
    color:white
}

.footer div:nth-child(2)>div:nth-child(2) div:nth-child(4) p:nth-child(n+2){
    padding-top:0px
}


.footer>div:nth-child(4)>p{
    text-align: center;
    padding-top:40px
}