.head{
  text-align: center;
}

h4{
  font:'Manrope';
  font-size: 40px;
}


pre{
  width:700px;
  height:200px;
  overflow: scroll;
  border-bottom: blue 2px;
  border-right: blue 2px;
  
  
}

.pic{
  margin-left: 80px;
}

  