*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.header, .footer{
    background-color:#add8e6; 
    height:51px;
    text-align: center;
    width:755px
}
h3{
    color:blue; 
    font: 20px 'Onest';
    padding-top: 10px;
}

 div:nth-child(2){
    background:url(pics/bgyellow.png); 
    margin-top:-10px; 
    width:755px
}

div .links{
    width:25%; 
    float:left
}
ul{ 
    padding-left:50px

}
div .right_container{
    margin-left:35%; 
    background:url(pics/white.png); 
    width:65%
}
.bg{
    background:url(pics/ball.png); 
    background-position:100% 100%; 
    background-size:51px 51px; 
    background-repeat: repeat-y;
}
h4{
    font-family:'Onest'; 
    text-align: center; 
    padding-top:20px
}

div.bg > h3{
    text-align: center;
    margin: 10px 10px 10px 10px;
    padding-top: 10px;
    font: 20px 'hero';
    color:black
}
img[src*="team"]{
    float: left; 
    margin: 10px 10px 0 20px
}
div.bg > p:first-of-type{
    margin-top: 20px; 
    margin-right: 10px; 
    font: 15px 'Arial';
}
div.bg > p:last-of-type{
    margin-left: 20px;
    padding-bottom:10px;
    font: 15px 'Arial'
}

