*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

h3{
    color:blue; 
    font: 20px 'Onest';
    padding-top: 10px;
}

 div:nth-child(2){
    background:url(pics/bgyellow.png); 
    margin-top:-10px; 
    width:755px
}

 div.container{
    width:25%; 
    float:left
}

h4{
    font-family:'Onest'; 
    text-align: center; 
    padding-top:20px
}
.header{
    background-color:#add8e6; 
    height:51px;
    text-align: center;
    width:755px
}
.football{
    text-align: center;
    margin: 10px 10px 10px 10px;
    padding-top: 10px;
    font: 20px 'hero'
}

.footer{
    background-color:#add8e6; 
    height:51px;
    text-align: center;
    width:755px
}