@media all and (max-width:580px){
    body{
        background-color: lightskyblue;
    }
    .main form .label_settings{
        float:none;
        width:200px;
        background-color: yellow;
        margin-left:35px;
        
    }
    p{
        
    }
    .enter-input {
        float:none;
        height: 52px;
        padding: 10px 20px;
        width: 100%;
    }
    div label{
        overflow:hidden;
        background-color: aquamarine;
        float:none;
        margin-left:35px;
        margin-bottom:10px;
        
    
    }
    form div{
       background-color:violet;
        
    }

    span{
        background-color: lightcyan;
        display:block;
    }
    .opts{
        background-color: springgreen;
        display:block
    }
    .adapt{
        background-color: gold;
        display: block;
        
        padding: 10px 30px;
        width: 100%;
        
    }
}
