*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Inter;
    
 
}   

body header nav div a{
    font-family: Inter;
}


h1{
    font-size:80px;
    font-weight:700;


}
h2{
    font-size:56px; 
    font-weight:600; 
    margin-bottom:24px;
    
}

h4{
    font-size:32px; 
    font-weight:600;
    line-height: 32px; 
}
h5{
    color:black;
    font-size:24px; 
    font-weight:600;
    line-height: 32px; 
}
h6{
    color:#7E8492; 
    font-size:18px; 
    font-weight:500; 
    line-height:32px
}

p{
    font-size:16px;
    color:#7E8492; 
    font-weight:500; 
    line-height:26px;
    padding-top:13px
   

}

header{
    background-image:url(../pics/ellipse_orange.png), url(../pics/Ellipse_blue.png); 
    background-position: 0% 0%, 100% 100%; 
    background-repeat: no-repeat, no-repeat;
    padding-bottom:100px
}

header nav{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right:120px;
    padding-left:120px
    
}

header nav div:first-child{
    padding-top:35.5px

}
header nav div:nth-child(2){
    padding-top:45px;
    margin-left:610px
}
header nav div:nth-child(2) a{
    color:black;
    font-size:16px;
    font-weight: 500;
    text-decoration: none;
    padding-right:20px;
    font-family: Inter;
    
}

header nav div:nth-child(3){
    padding-top:45px
}
header nav div:nth-child(3) a{
    color:black;
   
}

.hamburger-menu{
    visibility:hidden
}

   
.content_head{
    padding-left:120px;
    padding-right:120px;
    margin-top:100px
}

.content_head div:nth-child(2){
    text-align: center;
    font-size: 72px;
    margin-top:10px
}

.form-check-label{
    font-size: 16px;
    color:#7E8492;
    font-weight:500
}

.cards{
    display:flex;
    justify-content: space-between;
    margin-top:150px;
    padding-left:120px;
    padding-right:120px
}
.card1 {
    height:700px;
    width:360px;
    border:solid #EDEDED 1px;
    border-radius:16px;
    
}

.cards div.card1> img[src*="heart"]{
    padding-top:30px;
    padding-left:20px;
    
}

.cards div.card1> h5{
   padding-left: 30px; 
   padding-top:16px
}

.cards div.card1> h2{
    padding-left:30px;
    padding-top:40px
}
.cards div.card1  p{
    padding-left:30px
}

.list1 div:first-child{
    display: flex;
    padding-left:30px
}

.list1 div:nth-child(2){
    display: flex;
    padding-left:30px;
    margin-top:-20px
}

.list1 div:nth-child(3){
    display: flex;
    padding-left:30px;
    margin-top:-15px
}
.list1 div:nth-child(4){
    display: flex;
    padding-left:30px;
    margin-top:-15px
}
.list1 div:nth-child(4) p{
    text-decoration: line-through;
}

.list1 div:nth-child(5){
    display: flex;
    padding-left:30px;
    margin-top:-15px
}
.list1 div:nth-child(5) p{
    text-decoration: line-through;
}

.list1 div:nth-child(6){
   display:flex;
    padding-left:30px;
    margin-top:-15px
}
.list1 div:nth-child(6) p{
    text-decoration: line-through;
}

.card1:hover{
    background-color:#161A34;
    color:white;
    transform: scale(1.1);
    transition:2s
}

.cards div.card1:hover h5{
    color:white
}

.btn {
	display: inline-block;	
	box-sizing: border-box;
	padding: 0 25px;
	margin: 0 15px 15px 0;
	outline: none;
	border: 1px solid #fff;
	border-radius: 50px;
	height: 46px;
	line-height: 46px;
	font-size: 14px;
	font-weight: 600;
	text-decoration: none;
	color:#000;
	background-color: white;
	box-shadow: 0 4px 6px rgb(65 132 144 / 10%), 0 1px 3px rgb(0 0 0 / 8%);
	cursor: pointer;
	user-select: none;
	appearance: none;
	touch-action: manipulation;  
	vertical-align: top;
	transition: box-shadow 0.2s;
}
.btn:focus-visible {
	border: 1px solid #4c51f9;
	outline: none;
}
.btn:hover {
	transition: all 0.2s;
	box-shadow: 0 7px 14px rgb(65 132 144 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
}
.btn:active {
	background-color: #808080;
}





.card2 {
    height:700px;
    width:360px;
    border:solid #EDEDED 1px;
    border-radius:16px;
    
}

.cards div.card2> img[src*="heart"]{
    padding-top:30px;
    padding-left:20px;
   
    
}

.cards div.card2> h5{
   padding-left: 30px; 
   padding-top:16px
}

.cards div.card2> h2{
    padding-left:30px;
    padding-top:40px
}
.cards div.card2  p{
    padding-left:30px
}

.list2 div:first-child{
    display: flex;
    padding-left:30px
}

.list2 div:nth-child(2){
    display: flex;
    padding-left:30px;
    margin-top:-20px
}

.list2 div:nth-child(3){
    display: flex;
    padding-left:30px;
    margin-top:-15px
}
.list2 div:nth-child(4){
    display: flex;
    padding-left:30px;
    margin-top:-15px
}
.list2 div:nth-child(4) p{
    text-decoration: line-through;
}

.list2 div:nth-child(5){
    display: flex;
    padding-left:30px;
    margin-top:-15px
}
.list2 div:nth-child(5) p{
    color:#7E8492; 
}

.list2 div:nth-child(6){
   display:flex;
    padding-left:30px;
    margin-top:-15px
}
.list2 div:nth-child(6) p{
    text-decoration: line-through;
}

.card2:hover{
    background-color:#161A34;
    color:white;
    transform: scale(1.1);
    transition:2s
}

.card2:hover h5{
    color:white
}

.btn {
	display: inline-block;	
	box-sizing: border-box;
	padding: 0 25px;
	margin: 0 15px 15px 0;
	outline: none;
	border: 1px solid #fff;
	border-radius: 50px;
	height: 46px;
	line-height: 46px;
	font-size: 14px;
	font-weight: 600;
	text-decoration: none;
	color:#000;
	background-color: white;
	box-shadow: 0 4px 6px rgb(65 132 144 / 10%), 0 1px 3px rgb(0 0 0 / 8%);
	cursor: pointer;
	user-select: none;
	appearance: none;
	touch-action: manipulation;  
	vertical-align: top;
	transition: box-shadow 0.2s;
}
.btn:focus-visible {
	border: 1px solid #4c51f9;
	outline: none;
}
.btn:hover {
	transition: all 0.2s;
	box-shadow: 0 7px 14px rgb(65 132 144 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
}
.btn:active {
	background-color: #808080;
}



.card3 {
    height:700px;
    width:360px;
    border:solid #EDEDED 1px;
    border-radius:16px;
    
}

.cards div.card3> img[src*="heart"]{
    padding-top:30px;
    padding-left:20px;
   
    
}

.cards div.card3> h5{
   padding-left: 30px; 
   padding-top:16px
}

.cards div.card3> h2{
    padding-left:30px;
    padding-top:40px
}
.cards div.card3  p{
    padding-left:30px
}

.list3 div:first-child{
    display: flex;
    padding-left:30px
}

.list3 div:nth-child(2){
    display: flex;
    padding-left:30px;
    margin-top:-20px
}

.list3 div:nth-child(3){
    display: flex;
    padding-left:30px;
    margin-top:-15px
}
.list3 div:nth-child(4){
    display: flex;
    padding-left:30px;
    margin-top:-15px
}
.list3 div:nth-child(4) p{
    color:#7E8492; 
}

.list3 div:nth-child(5){
    display: flex;
    padding-left:30px;
    margin-top:-15px
}
.list3 div:nth-child(5) p{
    color:#7E8492; 
}

.list3 div:nth-child(6){
   display:flex;
    padding-left:30px;
    margin-top:-15px
}
.list3 div:nth-child(6) p{
    color:#7E8492; 
}

.card3:hover{
    background-color:#161A34;
    color:white;
    transform: scale(1.1);
    transition:2s
}

.card3:hover h5{
    
    color:white;
   
}

.btn {
	display: inline-block;	
	box-sizing: border-box;
	padding: 0 25px;
	margin: 0 15px 15px 0;
	outline: none;
	border: 1px solid #fff;
	border-radius: 50px;
	height: 46px;
	line-height: 46px;
	font-size: 14px;
	font-weight: 600;
	text-decoration: none;
	color:#000;
	background-color: white;
	box-shadow: 0 4px 6px rgb(65 132 144 / 10%), 0 1px 3px rgb(0 0 0 / 8%);
	cursor: pointer;
	user-select: none;
	appearance: none;
	touch-action: manipulation;  
	vertical-align: top;
	transition: box-shadow 0.2s;
}
.btn:focus-visible {
	border: 1px solid #4c51f9;
	outline: none;
}
.btn:hover {
	transition: all 0.2s;
	box-shadow: 0 7px 14px rgb(65 132 144 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
}
.btn:active {
	background-color: #808080;
}


.questions {
    text-align:center;
    padding-right:120px;
    padding-right:120px;
    margin-top:80px
}
.accord{
    padding-left:120px;
    padding-right:120px;
    padding-bottom:100px
}
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }
  
  .active, .accordion:hover {
    background-color: #ccc;
  }
  
  .panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
  .footer{
    background-color:#1D1E25;
    color:white;
    padding-bottom:100px;
    padding-top:50px;
    padding-left:120px;
    padding-right:120px;
    margin-top:100px
    

}


.footer div:nth-child(2){
    display:flex;
    flex-direction:row;
    padding-bottom:30px
}

.footer div:nth-child(2) div:first-child img[src*="Line69"]{
    margin-top:-15px;
    padding-right:15px
}

.footer div:nth-child(2) div:nth-child(2) h4{
    font-size:24px
}

.footer>div:first-child div:nth-child(2){
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer >div:nth-child(2){
    padding-top:80px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.footer div:nth-child(2)>div:nth-child(2) div{
    padding-right:70px
}

.footer div:nth-child(2)>div:nth-child(2) div:first-child p:first-child{
    color:white
}

.footer div:nth-child(2)>div:nth-child(2) div:first-child p:nth-child(n+2){
   padding-top:0px
}

.footer div:nth-child(2)>div:nth-child(2) div:nth-child(2) {
    display:flex;
    flex-direction:column;
}  

.footer div:nth-child(2)>div:nth-child(2) div:nth-child(2) p:first-child{
    color:white
}

.footer div:nth-child(2)>div:nth-child(2) div:nth-child(2) p:nth-child(n+2){
    padding-top:0px
}

.footer div:nth-child(2)>div:nth-child(2) div:nth-child(3) p:first-child{
    color:white
}

.footer div:nth-child(2)>div:nth-child(2) div:nth-child(3) p:nth-child(n+2){
    padding-top:0px
}
.footer div:nth-child(2)>div:nth-child(2) div:nth-child(4) p:first-child{
    color:white
}

.footer div:nth-child(2)>div:nth-child(2) div:nth-child(4) p:nth-child(n+2){
    padding-top:0px
}


.footer>div:nth-child(4)>p{
    text-align: center;
    padding-top:40px
}

  