*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.header{
    background-color:#add8e6; 
    height:51px;
    text-align: center;
    width:755px
}
.header h3{
    font: 20px 'Onest';
    padding-top: 10px;
    color:blue
}
.main{
    background-color: white ;  /*#eee6978*/
    width:755px;
    display:grid; 
    grid-template-columns: 1fr 2fr ;
    background-image: url(balls.png); 
    background-repeat: no-repeat;
    background-position: 100% 100%;
}

.footer{
    background-color:#add8e6; 
    height:51px;
    text-align: center;
    width:755px
}
.footer h3{
    color:blue; 
    font: 20px 'Onest';
    padding-top: 10px;
}
.main div.list{
    padding:20px 60px;
    background-color: #eee697; 
    }

.main div.info{
    display:grid;
    grid-template-columns: 1fr 2fr ;
    font: 15px 'Arial';
    
}

.main{
    background-image: url(ball.png);
    background-repeat: repeat-y;
    background-position:100% 100%; 
    background-size:51px 51px; 
}

.main  div.info div:first-child{
   grid-column-start: 1;
    grid-column-end: 3;
    padding-top:20px;
    padding-bottom:20px;
    text-align: center;
    font: 20px'hero'
}

.main div.info div:nth-child(2){
   padding: 20px;
}

.main div.info div:nth-child(3){
    padding-top:20px;
    
}
.main div.info div:last-child{
    grid-column-start: 1;
    grid-column-end: 3;
    padding: 0px 20px 20px 20px
}

.main div.list h4 {
    padding-bottom:40px;
    font-family:'Onest'; 
   
}
.main div.list li a {
    color:black
}

.main div.list ul li{
    padding:3px;
    font: 15px 'Arial';
    
}


