@import url('https://fonts.googleapis.com/css2?family=Comforter&display=swap');
h3{
    align-self: center;
    font-size: 30px;
    font-weight:light
}
p{  
   font-family: 'Comfortaa', cursive;
   font-size: 20px;
   text-indent: 20px;
}
.main{
    width: 100%;
    height: 100%;
}



