@media all and (max-width:800px){
    .header, .footer{
        width: 375px;
        padding-left: 20px;
        padding-right:20px
    }
    body{
        width:375px;
        
    }

    h1{
        font-size: 32px;
    }

    h4{
        font-size:14px;
    }

    header{
        background-image:url(../pics/ellipse_orange.png), url(../pics/Ellipse_blue.png); 
        background-position: 0% 0%, 100% 100%; 
        background-repeat: no-repeat, no-repeat;
        padding-bottom:100px
    }
    header nav{
        display:column;
        flex-direction: column;
        padding-right:20px;
        padding-left:20px
    }


    header nav div:first-child{
        padding-top:15.5px;
    }

    header nav div:nth-child(3){
        padding-top:15px;
        margin-top:-100px;
        background-color: orangered;
    }

    header div.header_info{
        padding-right:20px;
        padding-left:20px;
        display:flex;
        flex-direction: column;
        margin-top:30px
    }

    .header_graphics div:first-child{
        height:122px;
        width:118px
    }
    .header_graphics div:first-child:hover{
        z-index: 1;
        width:118px;
        height:122px;
        transform:scale(1.6);
        transition: 2s
    }
    .header_graphics div:nth-child(2){
        width:335px;
        height: 227px;

    }
    
    header div.header_info{
        padding-right:20px;
        padding-left:20px;
        display:flex;
        flex-direction:column;
        justify-content: space-between;
        margin-top:40px
    }

    .hamburger-menu{
        visibility:visible
    }

    #menu__toggle {
        opacity: 0;
      }
      #menu__toggle:checked + .menu__btn > span {
        transform: rotate(45deg);
      }
      #menu__toggle:checked + .menu__btn > span::before {
        top: 0;
        transform: rotate(0deg);
      }
      #menu__toggle:checked + .menu__btn > span::after {
        top: 0;
        transform: rotate(90deg);
      }
      #menu__toggle:checked ~ .menu__box {
        left: 0 !important;
      }
      .menu__btn {
        position: fixed;
        top: 41px;
        left: 321px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 1;
      }
      .menu__btn > span,
      .menu__btn > span::before,
      .menu__btn > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #616161;
        transition-duration: .25s;
      }
      .menu__btn > span::before {
        content: '';
        top: -8px;
      }
      .menu__btn > span::after {
        content: '';
        top: 8px;
      }
      .menu__box {
        display: block;
        position: fixed;
        top: 0;
        left: -100%;
        width: 300px;
        height: 100%;
        margin: 0;
        padding: 80px 0;
        list-style: none;
        background-color: #ECEFF1;
        box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
        transition-duration: .25s;
      }
      .menu__item {
        display: block;
        padding: 12px 24px;
        color: #333;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;
        transition-duration: .25s;
      }
      .menu__item:hover {
        background-color: #CFD8DC;
      }
      
      
      
      
      
      

    }
    






}   