*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Inter;
}

header{
    background-color: deepskyblue;
    padding-right:120px;
    padding-left:120px
}
header nav{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: deeppink;
}

header nav div:first-child{
    padding-top:35.5px
}
header nav div:nth-child(2){
    padding-top:45px;
    margin-left:610px
}
header nav div:nth-child(2) a{
    color:black;
    font-size:16px;
    font-weight: 500;
    text-decoration: none;
    background-color: lightgoldenrodyellow;
    padding-right:20px
    
}

header nav div:nth-child(3){
    padding-top:45px
}
header nav div:nth-child(3) a{
    color:black;
    background-color: springgreen;
    
}

