.name{
    font-size: 30px;
    font-weight: bold;
}

.bday{
    color:green
}

.champion{
    color: red;
    font-weight: bold
}

.info{
    color:blue;
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique
    }
}