*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

input{
    width: 200px;
    height:150px;
    background-color: deepskyblue;
    color:blanchedalmond;
    font-size:15px;
    font-weight:400;
    padding-left:10px;
    border-radius: 20px;
    
}

body{
    padding-left:30px;
    padding-top:30px
}