*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
.header{
   background-image:url(pics/main_image.png);
   height:100vh;
   
   background-color: pink;
}
.header > div{
   padding-top:30px;
   
   padding-left: 40px;
}

.head_header{
    
    display:flex;
    flex-direction:row;
    background-color: green;
}

.list_lang li{
   display:inline;
}

.count_info{
    
    display:flex;
    flex-direction: row;
}

.list_lang{
    background-color: red;
    margin-left: 30px;
}

.list_lang{
    background-color: aquamarine;
    margin-left:30px;

}

.list_lang ul{
    background-color: blueviolet;
    list-style-type:none; 
    display:inline 
}

.list_lang ul li{
    background-color: yellow;
    padding-right: 16px;
}

