*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
@font-face {
    font-family: Evolventa;
    src: url(Evolventa_font/Evolventa-Regular.ttf);
}
.header{
   background-image:url(pics/main_image.png);
   height:100vh;
   background-repeat: no-repeat;
}
 
h3{
    font-family: "Evolventa";
    font-size:56px;
    font-weight:700;
}


.header > div{
   padding-top:32px;
   padding-left: 40px;
   

}

.head_header{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    
}

.header  div div.head_header div > img[src*="btn"]{
    padding-right:100px;
}
.list_lang li{
   display:inline;
}




.list_lang{
    padding-top: 10px
}

.list_lang ul{
    list-style-type:none; 
    
}

.list_lang ul li{
    font-family:"Evolventa";
    font-size:20px;
    font-weight:700;
    color:white;
    padding-left:10px


}
.count_info{
    display:flex;
    flex-direction: row;
}
.main{
    background-image:url(pics/main_image.png); 
    position:fixed; 
    top:0; 
    left:0; 
    height:100vh; 
    padding-left:20px; 
    padding-right:20px;
    
}
img[src*="menu"]{
    padding-top: 37.5px;
    
}

.head_header div p:nth-child(1){
    font-family:Evolventa; 
    color:white; 
    font-weight:700; 
    font-size:37.03px; 
   
    
}
.head_header div p:nth-child(2){
    font-family:Evolventa; 
    color:white; 
    font-weight:400;
    font-size:14px;
    
}
.count_info div{
    
    display:flex;
    flex-direction: row;
    

}
.count_info div:first-child{
    padding-right: 30px
}

.center{
    margin-top: 200px;
}

.center h1{
    font-family:'Evolventa';
    font-size:64px;
    font-weight:700;
    color:white;
}

.content_block{
    padding-left:40px;
    margin-left:100px;
}

div img[src*="line"]{
     margin-top:50px
}
.content_block div h2{
    font-family:'Evolventa';
    font-size:64px;
    margin-top:100px;
    margin-bottom:50px;
   
}

.deliv_options{
    margin-top:50px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right:100px
    

}
.deliv_options div{
    display:flex;
    flex-direction: row;
}

.deliv_options div p{
    font-family:'Evolventa';
    font-size:20px;
    padding-left:30px
}

.content_block div:nth-child(4) h1{
    margin-top:200px;
    
}

.left_block p:first-child{
    font-family:"Evolventa";
    font-size:28px;
    font-weight:700
}

.left_block p:last-child{
    font-family:"Evolventa";
    font-size:18px;
    font-weight:400;
    
}
.opportunities{
    margin-top:80px;
    background-image: url(pics/Subtract.png);
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size:700px 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 100px;
}

.opportunities div.right_block p{
    
    font-family:"Evolventa";
    font-size:28px;
    font-weight:700;
}

.opportunities div.right_block div{
    display:flex;
    flex-direction: row;
    
}
.opportunities div.right_block{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.right_block div p{
    margin-left:10px
}

.cargo{
    margin-top:100px;
    width:100%
}

.cargo img[src*="cargo"]{
   width:100%
}

.cargo div{
    position:absolute;
    background-color: white;
    margin-top: -100px;
    width:85%;
}


.offer{
    margin-top:80px;
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    padding-right: 110px;
}

.offer div.left_offer div.example{
    display:flex;
    flex-direction:row
}

.offer div.left_offer div.example div.icons_offer div{
    display:flex;
    flex-direction:row;
    margin-top:25px;
    font-family: "Evolventa";
    font-size:20px;
    font-weight:400;
    
}

.left_offer > p:first-child{
    font-family: "Evolventa";
    font-size:28px;
    font-weight:700;
   
}

.left_offer > p:nth-child(2){
    font-family: "Evolventa";
    font-size:18px;
    font-weight:400;
    margin-top:25px;
}

div.icons_offer div p:last-child{
    margin-left:15px;
    
}

.example{
    margin-top:40px
}

.icons_offer div:last-child p{
    
    font-family: "Evolventa";
    font-style:italic;
    font-size:24px;
    font-weight:400;
    margin-top:25px;
}

img[src*="btn_black"]{
    margin-top:32px;
    margin-left:200px
}

.services{
    margin-top:140px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.services p{
    font-family: "Evolventa";
    font-size:56px;
    font-weight:700;
    margin-top:25px;
    
}

.services img[src*="line"]{
    margin-top:48px
}

.content_block div.services div.services1{
    margin-top:80px; 
    display:flex; 
    flex-direction:row; 
    justify-content: space-around;
   
    
}

.services2{
    display:flex; 
    flex-direction:row; 
    justify-content:space-around;
    margin-top: 30px;
    
    
}

.personal_manager{
    margin-top:200px
}

.personal_manager p{
    font-family: "Evolventa";
    font-size:56px;
    font-weight:700;
    margin-top:25px;
}

.personal_manager img[src*="line"]{
    margin-top:48px
}

.manager_info{
    background-image: url(pics/Subtract.png);
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size:650px 250px;
    margin-top:80px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 100px;

}
.manager_info div p:first-child{
   
    font-family: "Evolventa";
    font-size:28px;
    font-weight:700;
   
}

.manager_info div p:last-child{
   
    font-family: "Evolventa";
    font-size:18px;
    font-weight:700;
}
.price_count{
    margin-top:200px
}

.price_count div  img[src*="main3"]{
   width:100%;
   
}
.fillupform{
    margin-top:80px; 
    display:flex; 
    flex-direction:row; 
    justify-content: space-between;
    padding-right:100px
} 

.fillupform div.left_side_form div{
    padding-top:10px
}

.fillupform div.left_side_form{
    display:flex; 
    flex-direction:column; 
    
}
.fillupform div.left_side_form h4{
    font-family: "Evolventa";
    font-size:20px;
    font-weight:900;
}

.fillupform div.left_side_form label{
    font-family: "Evolventa";
    font-size:18px;
    font-weight:400;
}
.fillupform div.left_side_form div p{
   font-family: "Evolventa";
    font-size:18px;
    font-weight:400;
}

.fillupform div.left_side_form form div p.required{
    font-family: "Evolventa";
    font-size:12px;
    font-weight:400;
}

.fillupform div.left_side_form form div.personal_agreement p{
    color: #888888;
    font-family: "Evolventa";
    font-size:12px;
    font-weight:400;
    

}
.top_info{
    top:-170px;
    width:85%;
    background-color: white;
}

    

.price_count div p{
    padding-left:100px;
    margin-right:101px;
    font-family: "Evolventa";
    font-size:56px;
    font-weight:700;
    margin-top:100px;
}

.fillupform div.left_side >p{
    margin-top:48px;
    font-family: "Evolventa";
    font-size:20px;
    font-weight:700;

}

.goods p{
    font-family: "Evolventa";
    font-size:56px;
    font-weight:700;
}

.lists_of_goods{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top:98px
}

.left_goods{
    display:flex;
    flex-direction: row;

    
}

.lists_of_goods div.left_goods div.list1 div{
    display:flex;
    flex-direction: row;
    padding-right:50px
   
}

.lists_of_goods div.left_goods div.list1 div:nth-child(n+2){
   margin-top:30px
}
.lists_of_goods div.left_goods div.list1 div p:nth-child(n+2){
   margin-top:20px
   
}
.lists_of_goods div.left_goods div.list1 div p{
    margin-left: 20px;
    font-family: "Evolventa";
    font-size:20px;
    font-weight:400;
}

/*list2*/

.lists_of_goods div.left_goods div.list2 div{
    display:flex;
    flex-direction: row;
   
}

.lists_of_goods div.left_goods div.list2 div:nth-child(n+2){
   margin-top:30px
}
.lists_of_goods div.left_goods div.list2 div p:nth-child(n+2){
    margin-top:20px
   
}
.lists_of_goods div.left_goods div.list2 div p{
    margin-left: 20px;
    font-family: "Evolventa";
    font-size:20px;
    font-weight:400;
}

.clients{
    display: flex;
    flex-direction: row;
}

.footer{
    height:816px;
    width:100%;
    background-color: black;
    margin-top:100px;
    padding-left:140px
}

.footer div.footer_head{
    padding-top:48px;
    display:flex;
    flex-direction: row;;
    justify-content: space-between;
}

.footer div.footer_head div.fh_left div {
    font-family: "Evolventa";
    font-size:20px;
    font-weight:700;
}

.footer div.footer_head div.fh_left div p:nth-child(n+2){
    padding-top:30px
}

.fh_left{
    display: flex;
    flex-direction: row;
    color:white;
    
}

.fh_left div{
    padding-right:30px
}

.fh_right{
    color:white;
    padding-right: 100px;
    font-family: "Evolventa";
    font-size:20px;
    font-weight:700;
}

.footer div.footer_head div.fh_right div p:nth-child(n+2){
   padding-top:30px
}

.footer_main{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top:88px
}

.footer_main div.fm_left{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    color:white;
    font-family: "Evolventa";
    font-size:18px;
    font-weight:700;
    


}

.footer_main div.fm_right{
    margin-right:100px;
    
    
}

.footer_bottom {
    margin-top:83px;
    color:white;
    font-family: "Evolventa";
    font-size:20px;
    font-weight:400;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.footer_bottom div:last-child{
    display:flex;
    flex-direction: row;
    padding-right:100px
}