@media all and (max-width:1000px){
    .header, .footer{
        width: 768px;
        padding-left: 20px;
        padding-right:20px
    }
    body{
        width:768px;
        
    }

    h1{
        font-size: 46px;
    }

    h2{
        font-size: 46px;
    }

    h4{
        font-size:26px;
    }
    h3{
        font-size: 28px;
    }
    h5{
        font-size:24px
    }
    h6{
        font-size:18px
    }
    header{
        padding-bottom:40px
    }
    header nav{
        display:column;
        flex-direction: column;
        padding-right:20px;
        padding-left:20px
    }

    header nav div:nth-child(2){
      display:none
  }
    header nav div:first-child{
        padding-top:15.5px;
    }

    header nav div:nth-child(3){
        visibility:hidden;
      
    }
    .info_comp{
        padding-left:100px
    }
    header div.hamburger-menu{
        display:contents
    }

    #menu__toggle {
        opacity: 0;
      }
      #menu__toggle:checked + .menu__btn > span {
        transform: rotate(45deg);
      }
      #menu__toggle:checked + .menu__btn > span::before {
        top: 0;
        transform: rotate(0deg);
      }
      #menu__toggle:checked + .menu__btn > span::after {
        top: 0;
        transform: rotate(90deg);
      }
      #menu__toggle:checked ~ .menu__box {
        left: 0 !important;
      }
      .menu__btn {
        position: fixed;
        top: 41px;
        left: 700px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 1;
      }
      .menu__btn > span,
      .menu__btn > span::before,
      .menu__btn > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #616161;
        transition-duration: .25s;
      }
      .menu__btn > span::before {
        content: '';
        top: -8px;
      }
      .menu__btn > span::after {
        content: '';
        top: 8px;
      }
      .menu__box {
        display: block;
        position: fixed;
        top: 0;
        left: -100%;
        width: 300px;
        height: 100%;
        margin: 0;
        padding: 80px 0;
        list-style: none;
        background-color: #ECEFF1;
        box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
        transition-duration: .25s;
      }
      .menu__item {
        display: block;
        padding: 12px 24px;
        color: #333;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;
        transition-duration: .25s;
      }
      .menu__item:hover {
        background-color: #CFD8DC;
      }

      header nav div:nth-child(3){
        padding-top:5px;
    }

    header div.header_info{
        padding-right:20px;
        padding-left:20px;
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top:20px;
        background-color: #fff;
    }

    header nav div:nth-child(2){
        padding-top:45px;
        margin-left:610px;
        ;
    }

    header div:nth-child(3){
       
        margin-top: 10px;
        padding-left: 20px;
        padding-right:20px;
        
    }

    header div:nth-child(4){
        margin-top: -20px;
        padding-left: 20px;
        padding-right:20px
    }

    header div.header_info{
        padding-right:20px;
        padding-left:20px;
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top:40px
    }


    .contact_map{
        padding-left:20px;
        padding-right:20px
    }
    .companies{
        margin-top:-30px
    }
    img[src*="Map"]{
        width:500px;
        margin-bottom:60px;
        margin-top:70px
    }
    .contact_map>div:nth-child(1){
        padding-left:100px;
            
    }
    
    .contact_map div:nth-child(2) {
        display:flex;
        flex-direction: row;
    } 
    .contacts{
        padding-left:40px
    }  
    img[src*="Image_five"]{
        display: none;
    }
    form{
        padding-bottom: 40px;
        padding-left:10px
    }

    .form div.fillup{
        height: 784px;
        width:720px;
        background-color: white;
        border:solid 1px #CED1D8;
        position:relative;
        z-index:1;
        bottom:0px;
        left:10px;
        padding-left:10px;
        padding-right:10px
    }



    .fillup form div:first-child{
        display:flex;
        flex-direction: column;
        text-align: left;
        padding-top:20px
    }
    
    .fillup form div:first-child div:first-child input{
        width:690px; 
        height:44px; 
        border: soloid 1px #EDEDED; 
        border-radius:8px; 
        color:#7E8492; 
        font-size:13px; 
        padding-left:10px
    }
    .fillup form div:first-child div:nth-child(2){
        padding-top:20px
    }
    .fillup form div:first-child div:nth-child(2) input{
       
        width:690px; 
        height:44px; 
        border: soloid 1px #EDEDED; 
        border-radius:8px; 
        color:#7E8492; 
        font-size:13px; 
        padding-left:10px;
        padding-top:20px
    }
    
    .fillup form div:nth-child(2){
       
        margin-top:24px; 
        text-align:left;
        width:690px
        
    }

    .fillup form div:nth-child(3) input{
        width:690px; 
        height:44px; 
        border: soloid 1px #EDEDED; 
        border-radius:8px; 
        color:#7E8492; 
        font-size:13px; 
        padding-left:10px;
        
    }
    .fillup form div:nth-child(2) input{
        width:690px; 
        height:44px; 
        border: soloid 1px #EDEDED; 
        border-radius:8px; 
        color:#7E8492; 
        font-size:13px; 
        padding-left:10px;
        
    }
    .fillup form div:nth-child(2) div:nth-child(1){
        width:690px;
        
    }


    .fillup form div:nth-child(4) textarea{
        width:690px; 
        height:134px; 
        border: soloid 1px #EDEDED; 
        border-radius:8px; 
        color:#7E8492; 
        font-size:13px; 
        padding-left:10px
    }

    .companies{
        display:flex;
        flex-direction:column;
        justify-content: space-between ;
        padding-left:20px

       
    }

    .companies div:nth-child(2)>div:nth-child(2){
        display:flex; 
        flex-direction:column; 
        justify-content:space-between;
        
        
    }
    .companies div:nth-child(2)>div:first-of-type{
        display:flex; 
        flex-direction:column; 
        justify-content:space-between;
        margin-left:20px;
        
        
       
    }
    .companies div:nth-child(2){
        display:flex;
        margin-bottom:10px;
        justify-content: space-between;
    }
    .companies div.info_comp{
        display:flex; 
        flex-direction:column; 
        padding-bottom:10px;
        
    }
    
    img[src*="FedEx"]{
        margin-left:-25px
    }

    img[src*="Microsoft"]{
        margin-left:-20px
    }


    img[src*="Line63"]{
        padding-left:20px;
        padding-right:20px;
        width:335px
    }
    .footer{
        margin-top:-50px
    }
    .footer>div:first-child div:nth-child(2){
        display:flex;
        flex-direction: column;
        justify-content: space-between;
    }


    .footer div:nth-child(2)>div:nth-child(2) div{
        padding-right:70px;
        visibility: hidden;

    }
    
    .footer div:nth-child(2)>div:nth-child(2) div:first-child p:first-child{
        color:black;

    }
    
    .footer div:nth-child(2)>div:nth-child(2) div:first-child p:nth-child(n+2){
       padding-top:0px;
       visibility:hidden
    }
    
    .footer div:nth-child(2)>div:nth-child(2) div:nth-child(2) {
        display:flex;
        flex-direction:column;
        visibility:hidden
    }  
    
    .footer div:nth-child(2)>div:nth-child(2) div:nth-child(2) p:first-child{
        color:black;
        visibility:hidden
    }
    
    .footer div:nth-child(2)>div:nth-child(2) div:nth-child(2) p:nth-child(n+2){
        padding-top:0px
    }
    
    .footer div:nth-child(2)>div:nth-child(2) div:nth-child(3) p:first-child{
        color:black;
        visibility:hidden
    }
    
    .footer div:nth-child(2)>div:nth-child(2) div:nth-child(3) p:nth-child(n+2){
        padding-top:0px
    }
    .footer div:nth-child(2)>div:nth-child(2) div:nth-child(4) p:first-child{
        color:black;
        visibility: hidden;
        display:none
    }
    
    .footer div:nth-child(2)>div:nth-child(2) div:nth-child(4) p:nth-child(n+2){
        padding-top:0px;
        display:none;
    }
    
    
    .footer>div:nth-child(4)>p{
        text-align: center;
        
        
    }

    .footer>div:nth-child(4)>p::after{
        background-image:url(../svg/air.svg);
        text-align: center;
    }   
    .footer>div:nth-child(3){
        display:none
    }

    .footer >div:nth-child(2){
        padding-top:40px;
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        
    }
    
    .dividerlast{
        display:contents
      }

    .content_last{
        display:contents;
        margin-bottom:10px
      } 

    .copyright{
        margin-top:10px
    }

    .footer div:first-child div:nth-child(2) div:nth-child(2) h4{
        font-size: 18px;
      }
    
    .footer div:nth-last-child(){
        padding-top:-100px
    }
   }

   @media all and (max-width:800px){
    .header, .footer{
        width: 375px;
        padding-left: 20px;
        padding-right:20px
    }
    body{
        width:375px;
        
    }

    h1{
        font-size: 46px;
    }

    h2{
        font-size: 26px;
    }

    h4{
        font-size:26px;
    }
    h3{
        font-size: 28px;
    }
    h5{
        font-size:24px
    }
    h6{
        font-size:18px
    }
    header{
        
        padding-bottom:40px
    }
    header nav{
        display:column;
        flex-direction: column;
        padding-right:20px;
        padding-left:20px
    }

    header nav div:nth-child(2){
      display:none
  }
    header nav div:first-child{
        padding-top:15.5px;
    }

    header nav div:nth-child(3){
        visibility:hidden;
      
    }

    header div.hamburger-menu{
        display:contents
    }

    #menu__toggle {
        opacity: 0;
      }
      #menu__toggle:checked + .menu__btn > span {
        transform: rotate(45deg);
      }
      #menu__toggle:checked + .menu__btn > span::before {
        top: 0;
        transform: rotate(0deg);
      }
      #menu__toggle:checked + .menu__btn > span::after {
        top: 0;
        transform: rotate(90deg);
      }
      #menu__toggle:checked ~ .menu__box {
        left: 0 !important;
      }
      .menu__btn {
        position: fixed;
        top: 41px;
        left: 300px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 1;
      }
      .menu__btn > span,
      .menu__btn > span::before,
      .menu__btn > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #616161;
        transition-duration: .25s;
      }
      .menu__btn > span::before {
        content: '';
        top: -8px;
      }
      .menu__btn > span::after {
        content: '';
        top: 8px;
      }
      .menu__box {
        display: block;
        position: fixed;
        top: 0;
        left: -100%;
        width: 300px;
        height: 100%;
        margin: 0;
        padding: 80px 0;
        list-style: none;
        background-color: #ECEFF1;
        box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
        transition-duration: .25s;
      }
      .menu__item {
        display: block;
        padding: 12px 24px;
        color: #333;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;
        transition-duration: .25s;
      }
      .menu__item:hover {
        background-color: #CFD8DC;
      }

      header nav div:nth-child(3){
        padding-top:5px;
    }

    header div.header_info{
        padding-right:20px;
        padding-left:20px;
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top:20px;
        background-color: #fff;
    }

    header nav div:nth-child(2){
        padding-top:45px;
        margin-left:610px;
        ;
    }

    header div:nth-child(3){
       
        margin-top: 10px;
        padding-left: 20px;
        padding-right:20px;
        
    }

    header div:nth-child(4){
        margin-top: -20px;
        padding-left: 20px;
        padding-right:20px
    }

    header div.header_info{
        padding-right:20px;
        padding-left:20px;
        display:flex;
        flex-direction: column;
        
        margin-top:40px
    }


    .contact_map{
        padding-left:20px;
        padding-right:20px
    }

    div.contact_map div:nth-child(1){
        padding-left: 0px;
    }

    

    img[src*="Map"]{
        width:300px;
        margin-bottom:60px;
        margin-top:-50px
    }
    .contact_map div:nth-child(2) {
        display:flex;
        flex-direction: column;
    } 
    .contacts{
        padding-left:40px
    }  
    img[src*="Image_five"]{
        display: none;
    }
    form{
        padding-bottom: 40px;
        padding-left:10px
    }

    .form div.fillup{
        height: 784px;
        width:350px;
        background-color: white;
        border:solid 1px #CED1D8;
        position:relative;
        z-index:1;
        bottom:0px;
        left:10px;
        padding-left:10px;
        padding-right:10px
    }



    .fillup form div:first-child{
       
        display:flex;
        flex-direction: column;
        text-align: left;
        padding-top:20px
    }
    
    .fillup form div:first-child div:first-child input{
       
        width:240px; 
        height:44px; 
        border: soloid 1px #EDEDED; 
        border-radius:8px; 
        color:#7E8492; 
        font-size:13px; 
        padding-left:10px
    }
    .fillup form div:first-child div:nth-child(2){
        padding-top:20px
    }
    .fillup form div:first-child div:nth-child(2) input{
        
        width:240px; 
        height:44px; 
        border: soloid 1px #EDEDED; 
        border-radius:8px; 
        color:#7E8492; 
        font-size:13px; 
        padding-left:10px;
        padding-top:20px
    }
    
    .fillup form div:nth-child(2){
        
        margin-top:24px; 
        text-align:left;
        width:240px
        
    }

    .fillup form div:nth-child(3) input{
        width:240px; 
        height:44px; 
        border: soloid 1px #EDEDED; 
        border-radius:8px; 
        color:#7E8492; 
        font-size:13px; 
        padding-left:10px;
    }
    .fillup form div:nth-child(2) input{
        width:240px; 
        height:44px; 
        border: soloid 1px #EDEDED; 
        border-radius:8px; 
        color:#7E8492; 
        font-size:13px; 
        padding-left:10px;
       
    }
    .fillup form div:nth-child(2) div:nth-child(1){
        width:240px;
        
    }


    .fillup form div:nth-child(4) textarea{
        width:240px; 
        height:134px; 
        border: soloid 1px #EDEDED; 
        border-radius:8px; 
        color:#7E8492; 
        font-size:13px; 
        padding-left:10px
    }

    .companies{
        display:flex;
        flex-direction:column;
        justify-content: space-between ;
        padding-left:20px
    }
    div.companies div.info_comp{
        margin-top:80px;
        padding-left:30px
    }
    .companies div:nth-child(2)>div:nth-child(2){
        display:flex; 
        flex-direction:column; 
        justify-content:space-between;
        
        
    }
    .companies div:nth-child(2)>div:first-of-type{
        display:flex; 
        flex-direction:column; 
        justify-content:space-between;
        margin-left:20px;
        
        
       
    }
    .companies div:nth-child(2){
        display:flex;
        margin-bottom:10px;
        justify-content: space-between;
    }
    .companies div.info_comp{
        display:flex; 
        flex-direction:column; 
        padding-bottom:10px;
        
    }
    
    img[src*="FedEx"]{
        margin-left:-25px
    }

    img[src*="Microsoft"]{
        margin-left:-20px
    }


    img[src*="Line63"]{
        padding-left:20px;
        padding-right:20px;
        width:335px
    }
    .footer{
        margin-top:-50px
    }
    .footer>div:first-child div:nth-child(2){
        display:flex;
        flex-direction: column;
        justify-content: space-between;
    }


    .footer div:nth-child(2)>div:nth-child(2) div{
        padding-right:70px;
        visibility: hidden;

    }
    
    .footer div:nth-child(2)>div:nth-child(2) div:first-child p:first-child{
        color:black;

    }
    
    .footer div:nth-child(2)>div:nth-child(2) div:first-child p:nth-child(n+2){
       padding-top:0px;
       visibility:hidden
    }
    
    .footer div:nth-child(2)>div:nth-child(2) div:nth-child(2) {
        display:flex;
        flex-direction:column;
        visibility:hidden
    }  
    
    .footer div:nth-child(2)>div:nth-child(2) div:nth-child(2) p:first-child{
        color:black;
        visibility:hidden
    }
    
    .footer div:nth-child(2)>div:nth-child(2) div:nth-child(2) p:nth-child(n+2){
        padding-top:0px
    }
    
    .footer div:nth-child(2)>div:nth-child(2) div:nth-child(3) p:first-child{
        color:black;
        visibility:hidden
    }
    
    .footer div:nth-child(2)>div:nth-child(2) div:nth-child(3) p:nth-child(n+2){
        padding-top:0px
    }
    .footer div:nth-child(2)>div:nth-child(2) div:nth-child(4) p:first-child{
        color:black;
        visibility: hidden;
        display:none
    }
    
    .footer div:nth-child(2)>div:nth-child(2) div:nth-child(4) p:nth-child(n+2){
        padding-top:0px;
        display:none;
    }
    
    
    .footer>div:nth-child(4)>p{
        text-align: center;
        
        
    }

    .footer>div:nth-child(4)>p::after{
        background-image:url(../svg/air.svg);
        text-align: center;
    }   
    .footer>div:nth-child(3){
        display:none
    }

    .footer >div:nth-child(2){
        padding-top:40px;
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        
    }
    
    .dividerlast{
        display:contents
      }

    .content_last{
        display:contents;
        margin-bottom:10px
      } 

    .copyright{
        margin-top:10px
    }

    .footer div:first-child div:nth-child(2) div:nth-child(2) h4{
        font-size: 18px;
      }


   }