@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.body{
    background-color: azure;
}
.fonts{
    font-family: 'Lobster', cursive;
    color:rgb(179, 6, 127);
    font-size: 50px;
    
}