*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header{
   font-family: Roboto;
   background-color: black;
  
   
}   
.container{
    background-color: black;
    padding-top:10px; 
    padding-bottom:12px;
    padding-left: 50px;
    
}
.menu{
    float:left;
}

.menu > ul li:first-child{
    padding-right: 30px;
}

.menu > ul li:nth-child(2){
    padding-right: 30px;
}    
   

div .delivery{
    float:right;
}

ul li{
    display:inline-block; 
    list-style-type:none;
   
    
}
.delivery{
    margin-right: -20px;
}
div.delivery div:first-child{
    float:left;
    
}

div.delivery div:nth-child(2){
    float: right;
    margin-right:121px
}

img[src*="phone"] {
    padding-right:11px
}
    
a [href^="tel"]{
    padding-right:30px

}

img[src*="delivery-icon"]{
  
    padding-left: 30px;
    padding-right:11px;
}

a{
    text-decoration: none;
    color:white
}

.logo{
    margin-left:140px;
    margin-right:121px
}

div.logo div>img[src*="LOGO"]{
    float:left;
    margin-top:32px;
}

img[src*="wishlist"]{
    float:left;
    margin-left:-155px;
  
}

 img[src*="bag"]{
    float:left;
    margin-left:-105px;
    margin-top:-1px
   
}

img[src*="reddot"]{
    float:left;
    margin-left:-90px;
   
}
img[src*="profile"]{
    float:left;
    margin-left:-60px
}
.list_items{
    background-image: url(list_items/bg-menu.png);
    background-repeat: no-repeat;
    margin-left:140px;
    margin-right:120px;
    height:120px;
    margin-top:40px
}

.large_pic{
    background-image: url(list_items/large_pic.png);
    background-repeat: no-repeat;
    height:450px;
    margin-left:130px
}

