*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header{
   font-family: Roboto;
   background-color: black;
  
   
}   
.container{
    background-color: black;
    padding-top:10px; 
    padding-bottom:12px;
    padding-left: 50px;
    
    
}    
.menu{
    float:left;
}

div .delivery{
    float:right;
}

ul li{
    display:inline-block; 
    list-style-type:none;
   
    
}
a{
    text-decoration: none;
    color:white
}

.logo{
    margin-left:140px;
    margin-right:121px
}
   
.list_items{
    background-image: url(list_items/bg-menu.png);
    background-repeat: no-repeat;
    margin-left:140px;
    margin-right:120px;
    height:120px;
    margin-top:40px
}

    


 
    
    

